<div class="tooltip-tooltip">
  <dl class="tooltip-header">
    <dt>
      {{ name }}
    </dt>
    <dd>
      {{ path }}
    </dd>
  </dl>
  <dl class="tooltip-body">
    {% for point in points %}
      <dt>
        <span style="color: {{ point.color }}">●</span>
        {% for n, _ in props %}
          {{ n }}={{ point.point[n] }}
        {% endfor %}
    </dt>
    <dd>{{ point.y | toFixed }} sec</dd>
    {% endfor %}
  </dl>
</div>
