<div class="mdl-card-full mdl-card mdl-shadow--2dp">
  {# <div class="mdl-card__title">
    <span class="mdl-chip mdl-chip--contact">
      <img class="mdl-chip__contact" src="img/icons8-mesh-100.png"></img>
      <span class="mdl-chip__text">{{ mesh }} elements</span>
    </span>
  </div> #}
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--7-col full-width">
        <div id="{{ id }}">
        </div>
      </div>

      <div class="mdl-cell mdl-cell--5-col hidden">
        <div id="{{ id }}-detail">
        </div>
      </div>
    </div>
      {# <div class="chart-container" style="position: relative; height:100%; width: 60%;">
      </div>
      <div class="chart-container" style="position: relative; height:100%; width: 40%;">

      </div> #}
  </div>
  
  {# <div class="mdl-card__menu">

  </div> #}
  
</div>
