<div class="tooltip-tooltip">
  <dl class="tooltip-header">
    <dt>Commit</dt>
    <dd>{{ commit | cut }}</dd>
    
    <dt>Date</dt>
    <dd>{{ date }}</dd>
  </dl>
  <dl class="tooltip-body">
    {% for point in points %}
      {% if point.series.name.indexOf("mean") != -1 %}
        <dt><span style="color: {{ point.color }}">●</span> {{ point.series.name }}</dt>
        <dd>{{ point.point.y | toFixed }} sec</dd>
      {% elif point.series.name == "std" %}
        <dd>std &lt; {{ point.point.low | toFixed }}, {{ point.point.high | toFixed }} &gt; sec</dd>
      {% elif point.series.name == "e5" %}
      
        {#
        <dt>5 % error bar</dt>
        <dd>&lt; {{ point.point.low | toFixed }}, {{ point.point.high | toFixed }} &gt; sec</dd>
        #}
      {% elif point.series.name == "e10" %}
        {#
        <dt>10 % error bar</dt>
        <dd>&lt; {{ point.point.low | toFixed }}, {{ point.point.high | toFixed }} &gt; sec</dd>
        #}
      {% endif %}
    {% endfor %}
  </dl>
</div>
