
<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-{{ name }}">
  <input type="checkbox" id="checkbox-{{ name }}" cihpc-option-name="{{ name }}" class="mdl-checkbox__input cihpc-option" checked>
  <span class="mdl-checkbox__label">{{ text }}</span>
</label>
