colorama
cachetools
pyyaml
pymongo
pandas
numpy
seaborn
matplotlib
sklearn
scipy
maya
pytest
pluck
python-daemon
python-dateutil
tqdm
flask
Flask-Admin
Flask-Cors
Flask-Gravatar
Flask-Login
Flask-RESTful
gitpython
loguru
