<div class="tooltip-tooltip">
  <dl class="tooltip-header">
    <dt>
      {{ points[0].key | safe }}
    </dt>
    <dd>
      {{ points[0].series.userOptions.extra.path[points[0].key] | aslist | safe }}
    </dd>
  </dl>
  <dl class="tooltip-body">
    {% for point in points %}
      <dt>
        <span style="color: {{ point.color }}">●</span>
          {{ point.series.name }}
        {% for n, _ in props %}
          {{ n }}={{ point.point[n] }}
        {% endfor %}
      </dt>
      {% if point.point.low %}
        <dd>{{ point.point.low | toFixed }} - {{ point.point.high | toFixed }} sec</dd>
      {% else %}
        <dd>{{ point.y | toFixed }} sec</dd>
      {% endif %}
    {% endfor %}
  </dl>
</div>
