  <div class="col-6 m-auto error">
    <div class="card card-image mb-3" style="background-image: url('imgs/intro.jpg');">
        <div class="text-white text-center align-items-center rgba-red-strong p-5">
            <h3 class="card-title m-0">
                <strong>{{ title }}</strong>
            </h3>
            <small>{{ shortDesc | safe }}</small>
            <hr />
            <div class="mb-0">{{ description | safe }}</div>
        </div>
    </div>
  </div>
