// main: main.scss

$chartHeightSmall:  240px;
$chartHeightMedium: 340px;
$chartHeightLarge:  440px;

$chartDetailHeightSmall:  200px;
$chartDetailHeightMedium: 240px;
$chartDetailHeightLarge:  300px;