body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.428571;
  color: #404040;
  text-align: left;
  background-color: #eee;
}

.tooltip {
  z-index: 9999;
  font-size: 0.8em;
}
.tooltip code {
  color: inherit;
  font-weight: bold;
}

.card {
  border: none;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
  margin-bottom: 30px;
}

.card.sparkline .card-body {
  padding: 10px 5px;
  min-height: 340px;
}
.navbar .navbar-brand img {
  height: 2rem;
}
.bd-navbar {
}
.bd-content {
  margin: 20px;
  width: 100%;
}
.bd-sidebar {
  background-color: #fefefe;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;

  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}

.bd-sidebar h6 {
  font-size: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  letter-spacing: .04em;
  text-transform: uppercase;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
.list-group-item {
  border: none;
  background: transparent;
}
.list-group-item .item-body {
  font-size: .60rem;
  padding-top: 0.2rem;
}
.card .card-body .card-text {
  color: inherit;
}
.card.bg-danger {
  -webkit-box-shadow: 0 0 25px 0 rgba(255, 0, 0, .35);
  box-shadow: 0 0 25px 0 rgba(255, 0, 0, .35);
}
.expanded g.highcharts-tooltip .highcharts-label.highcharts-tooltip-box:first-child,
.expanded .highcharts-tooltip .highcharts-label:first-child {
  visibility: hidden !important;
}
.list-group-item.sm {
  padding: .25rem .50rem;
  font-size: 0.8em;
}

#cihpc-option-holder .btn.group {
  color: #000 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-weight: bold;
}
#cihpc-option-holder .btn-group .btn:not(.active) {
  /* color: #000 !important; */
}
#cihpc-option-holder .btn-group .btn {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
#cihpc-option-holder .text {
  padding: 0;
  margin: 0;
  line-height: 2.5rem;
}
.btn-rounded-sm {
  border-radius: 5px;
}
.btn.btn-rounded-sm.btn-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.modal .modal-full-height.modal-md {
   width: 500px;
   max-width: 500px;
}
.custom-checkbox.predefined .custom-control-input:checked ~ .custom-control-label::before {
   background-color: #2bbbad;
}
.md-pills .nav-link.active:hover {
 color: white;
}
.custom-control-input:disabled ~ .custom-control-label {
 opacity: 0.5;
}
.fs-icon {
 z-index: 2;
 position: relative;
 height: 120px;
}
.fs-icon i{
 font-size: 5em;
 background: #FFFFFF;
 border-radius: 50%;
 padding: 20px;
 color: #a71116;
 animation: pulse-margin 6s infinite;
}
.fs-icon-strike {
 position: relative;
 top: 60px;
 height: 3px;
 opacity: 0.5;
 z-index: 1;
 background: #a71116;
}
.result-info.warning .fs-icon i {
 color: #FF8800;
}
.result-info.warning .fs-icon-strike {
 background: #FF8800;
}
.result-info.error .fs-icon i {
 color: #CC0000;
}
.result-info.error .fs-icon-strike {
 background: #CC0000;
}

.smaller {
   font-size: 75%;
   font-weight: 400;
}

pre code, .code {
 color: #e83e8c;
}
@keyframes pulse-margin {
 10% {
   padding: 20px;
 }
 15% {
   padding: 5px;
 }
 20% {
   padding: 20px;
 }
 100% {
   padding: 20px;
 }
}
.navbar li.nav-item a {
 padding: 0.75rem;
 border-radius: 0.25rem;
 background-color: rgba(0, 0, 0, 0.0);
 display: inline-block;
 color: #333 !important;
}
.navbar li.nav-item a:hover {
 background-color: rgba(0, 0, 0, 0.15);
 color: #000 !important;
}
.navbar li.nav-item::before {
 content: " | ";
 font-size: 1.5em;
 opacity: 0.5;
}
.error .card code {
 color: #ffdc72;
 font-weight: bold;
}
.error .card code pre {
 color: #ffdc72;
 font-weight: bold;
 text-align: left;
}
#configure-view.disabled {
 opacity: 0.5;
}
