.mdl-layout__drawer {
  width: 300px;
}

.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 300px;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 300px;
    width: calc(100% - 300px);
}

.mdl-card-full {
  width: 100%;
  margin-bottom: 10px;
}

.mdl-card__supporting-text {
  width: 100%;
  padding: 0;
}

.full-width {
  width: calc(100% - 16px);
}

svg > .highcharts-tooltip {
  display: none;
}
div.highcharts-tooltip > span {
  opacity:1;
  /* padding: 10px; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #ffffff;
  /* background: #ffffff; */
  /* background: -webkit-linear-gradient(-45deg, #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(135deg, #ffffff 0%,#e5e5e5 100%); */
  /* border: 1px solid #CCCCCC; */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */

}
/* 
.highcharts-tooltip, .highcharts-tooltip span {
    background-color:white;
    opacity:1;
    z-index:9999!important;
} */

.mdl-layout__drawer .mdl-navigation {
  padding-top: 0;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #666666;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    color: #333333;
}

tiny {
  font-size: 0.75em;
}

.tooltip-tooltip {
  min-width: 200px;
}

.tooltip-header {
  color: black;
  background: #EFEFEF;
  padding: 5px 5px 5px 5px;
  margin: 0 0 5px 0;
}

.tooltip-body {
  font-size: 0.9em;
  color: #333333;
  background: #FFFFFF;
  padding: 5px 5px 5px 5px;
  margin: 0;
}



.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #ffffff;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #ffffff;
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #ffffff;
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: #ffffff;
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background: #ffffff;
}

.testItem {
  padding: 10px 40px;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-transform: inherit;
  text-align: left;
  
  height: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0;
}

.testItem div.desc {
  margin: 5px 0 0 0;
  padding: 0;
  line-height: 12px;
  font-size: 0.8em;
  color: #CCC;
}

.testItem div.desc p {
  margin: 0;
  padding: 0;
  line-height: 12px;
  font-size: inherit;
}

.testItem:hover div.desc {
  color: #FFF;
}

.testItem.mdl-button--raised div.desc {
  color: #666;
}

.testItem.mdl-button--raised:hover div.desc {
  color: #333;
}

.caseItem {
  padding: 10px 40px 10px 64px;
}

.mdl-dialog {
  width: 480px;
}

html, body {
    height: 100%;
}

.fs-outer-container {
    position : absolute;
    display: table;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
}

.fs-inner-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.fs-centered-content {
    display: inline-block;
    text-align: left;
    width: 400px
}

.fs-icon {
  z-index: 2;
  position: relative;
  width: 400px;
  height: 120px;
}
.fs-icon i{
  font-size: 5em;
  background: #F5F5F5;
  /* background: red; */
  border-radius: 50%;
  padding: 20px;
  color: #a71116;
  animation: pulse-margin 6s infinite;
}
.fs-icon-strike {
  position: relative;
  top: 60px;
  height: 3px;
  opacity: 0.5;
  z-index: 1;
  background: #a71116;
}

.mdl-tooltip.tooltip-delayed {
  max-width: 640px;
}

.mdl-tooltip.is-active.tooltip-delayed {
  animation-delay: 200ms;
}

#warning-msg code {
  color: #a71116;
}

@keyframes pulse-margin {
  10% {
    padding: 20px;
    color: #a71116;
  }
  15% {
    padding: 5px;
    color: #CC0000;
  }
  20% {
    padding: 20px;
    color: #a71116;
  }
  100% {
    padding: 20px;
    color: #a71116;
  }
}

#loading .fs-centered-content {
  width: 150px;
}

#loading p {
  display: inline-block;
  line-height: 32px;
  padding-left: 10px;
}

#loading .mdl-spinner {
  width: 32px;
  height: 32px;
  float: left;
}


.cihpc-option-holder {
  display: inline-block;
}
